Repository asdf-format/asdf, pull requests merged in 2022-06, with the labels that each got.

#1111 Bugfixes for sphinx
  docs/sphinxext/example.py
Labels: no-changelog-entry-needed

#1143 Support for examples speciflying asdf-standard version
  CHANGES.rst
  pytest_asdf/plugin.py
Labels: testing

#1145 Update CI run options
  .github/workflows/ci.yml
Labels: no-changelog-entry-needed

#1142 Refactor ASDF docs
  .github/workflows/ci.yml
  .readthedocs.yml
  CHANGES.rst
  README.rst
  asdf/resource.py
  docs/_static/custom.css
  docs/_static/logo.ico
  docs/_static/logo.pdf
  docs/_static/logo.png
  docs/asdf/changes.rst
  docs/asdf/developer_overview.rst
  docs/asdf/developer_versioning.rst
  docs/asdf/extending/legacy.rst
  docs/asdf/extending/schemas.rst
  docs/asdf/features.rst
  docs/asdf/overview.rst
  docs/conf.py
  docs/index.rst
  docs/sphinxext/example.py
  setup.cfg
  tox.ini
Labels: Docs

#1149 move build configuration into `pyproject.toml`
  CHANGES.rst
  docs/asdf/extending/extensions.rst
  docs/asdf/extending/legacy.rst
  docs/asdf/extending/resources.rst
  docs/asdf/install.rst
  docs/conf.py
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Labels: Downstream CI

#1152 Update docs to include citation and contributing guides
  CHANGES.rst
  CITATION.rst
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.md
  CONTRIBUTING.rst
  README.rst
  docs/asdf/citation.rst
  docs/asdf/code_of_conduct.rst
  docs/asdf/contributing.rst
  docs/index.rst
Labels: Docs

#1155 Change to tab layout for pyproject.toml vs setup.cfg
  CHANGES.rst
  docs/asdf/extending/extensions.rst
  docs/asdf/extending/legacy.rst
  docs/asdf/extending/resources.rst
  docs/conf.py
  pyproject.toml
Labels: Docs

#1154 unpin dependency versions in `s390x` build
  .github/workflows/s390x.yml
Labels: no-changelog-entry-needed, s390x

#1157 Apply pyupgrade to ASDF
  .pre-commit-config.yaml
  asdf/_display.py
  asdf/asdf.py
  asdf/block.py
  asdf/commands/defragment.py
  asdf/commands/diff.py
  asdf/commands/exploded.py
  asdf/commands/extension.py
  asdf/commands/extract.py
  asdf/commands/main.py
  asdf/commands/remove_hdu.py
  asdf/commands/tags.py
  asdf/commands/tests/test_diff.py
  asdf/commands/to_yaml.py
  asdf/compression.py
  asdf/entry_points.py
  asdf/extension/_converter.py
  asdf/extension/_legacy.py
  asdf/extension/_manager.py
  asdf/extension/_manifest.py
  asdf/extension/_tag.py
  asdf/fits_embed.py
  asdf/generic_io.py
  asdf/reference.py
  asdf/resolver.py
  asdf/resource.py
  asdf/schema.py
  asdf/search.py
  asdf/stream.py
  asdf/tagged.py
  asdf/tags/core/external_reference.py
  asdf/tags/core/integer.py
  asdf/tags/core/ndarray.py
  asdf/tags/core/tests/test_ndarray.py
  asdf/tests/helpers.py
  asdf/tests/httpserver.py
  asdf/tests/test_fits_embed.py
  asdf/tests/test_generic_io.py
  asdf/tests/test_schema.py
  asdf/tests/test_versioning.py
  asdf/tests/test_yaml.py
  asdf/treeutil.py
  asdf/type_index.py
  asdf/types.py
  asdf/util.py
  asdf/versioning.py
  asdf/yamlutil.py
  compatibility_tests/test_file_compatibility.py
  pytest_asdf/plugin.py
Labels: no-changelog-entry-needed, Downstream CI, s390x
